:root {
  --quart: cubic-bezier(0.76, 0.00, 0.24, 1.00);
  --colorBBox: #086baf;
  --colorSAFocus: #086baf;
  --icoDefOpacity: 1;
  --icoScrunchOpacity: 0;
  --frameNodes: 0;
  --frameDash: 0;
  --frameSolid: 0;
}

/* #TopToolbar {
  display: none;
} */

#content {
  margin: 1rem 0px;
}

svg {
  width: 100%;
}

.icoDef {
  opacity: var(--icoDefOpacity);
}

.icoScrunch {
  opacity: var(--icoScrunchOpacity);
}

.icoFill {
  fill: var(--colorIcon);
  transition: opacity 100ms var(--quart) 0ms;
  cursor: pointer;
}

.bound {
  fill: rgba(0,0,0,0.2);
  transition: fill 100ms var(--quart) 20ms;
  cursor: pointer;
}


g:hover > .bound {
  fill: var(--colorBorder);
  /* -webkit-filter: drop-shadow(2rem 2rem 1rem rgba(0,0,0,0.5)); */
}

g:active > .icoFill {
  fill: var(--colorPanelBG);
}

g:active > .icoStr {
  stroke: var(--colorPanelBG);
}

g:active > .bound {
  fill: var(--colorSAFocus);
}

.frameDashLine {
   /* opacity: var(--BBoxDashes); */
   fill: none;
   stroke: var(--colorBBox);
   stroke-miterlimit: 10;
   stroke-dasharray: 7.664572715759277,7.664572715759277;
   transition: stroke 100ms var(--quart) 20ms;
}

.icoStr {
  fill: none;
  stroke: var(--colorIcon);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.frameNode {
   fill: #fff;
   stroke: var(--colorBBox);
   stroke-miterlimit: 10;
   transition: stroke 100ms var(--quart) 20ms,
                 fill 100ms var(--quart) 20ms;
}


#frameNodes {
  opacity: var(--frameNodes);
  transition: opacity 180ms var(--quart) 20ms;
}

#frameSolid {
  opacity: var(--frameSolid);
  transition: opacity 180ms var(--quart) 20ms;
}

#frameDash {
  opacity: var(--frameDash);
  transition: opacity 180ms var(--quart) 20ms;
}

#frameS {
  stroke: var(--colorBBox);
  fill: none;
}

#bMovin {
  /* position:relative; */
  /* border: 2px solid red; */
  height: auto;
}



/* #fillButton {
  fill: #007bff;
} */

.adobe-btn {
  font-size: 1.5rem;
}

.adobe-btn-sp {
  margin: 0px;
}

.adobe-toolbar-sp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
  align-items: center;
}

.adobe-btn-sp {
  max-width: 28%;
  font-size: 2rem;
  font-size: 28vw;
  /* display: inline-block; */
  display: flex;
  padding: 0px;
  margin: 0px;
  /* border-width: var(--globalBorderWidth); */
  border-style: solid;
  user-select: none;
  cursor: pointer;
  color: var(--colorFont);
}
